<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
    <style>
        #email,
        #password {
            width: 100%;
        }

        .label-cell {
            text-align: right;
        }

        .input-cell {
            padding-left: 25px;
        }
        #registration-form {
            display: none;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="container center">
    <h2>Login</h2>
    <div id="login-form">
        <!-- Login Form -->
        <form action="/login" method="POST">
            <table class="login-table">
                <tr>
                    <td class="label-cell">
                        <label for="email">Email</label>
                    </td>
                    <td class="input-cell">
                        <input type="email" id="email" name="email" placeholder="@sis.hust.edu.vn" required>
                    </td>
                </tr>
                <tr>
                    <td class="label-cell">
                        <label for="password">Password</label>
                    </td>
                    <td class="input-cell">
                        <input type="password" id="password" name="password" placeholder="************" required>
                    </td>
                </tr>
            </table>
            <div class="button-container">
                <button type="submit">login</button>
                <button type="button" id="register-trigger" onclick="confirmRegister()">register</button>
            </div>
        </form>
    </div>
    <div hidden id="registration-form">
        <hr class="solid" style="width: 100%">
        <!-- Registration Form -->
        <h2>Register</h2>
        <form action="/register" method="post">
            <input type="hidden" name="email" id="reg-email" value="">
            <input type="hidden" name="password" id="reg-password" value="">
            <label for="reg-confirm-password">Confirm your password</label>
            <br/>
            <input type="password" name="confirmPassword" id="reg-confirm-password" placeholder="************" required>
            <div class="button-container">
                <button type="submit">confirm</button>
            </div>
        </form>
    </div>
</div>
<script>
    function confirmRegister() {
        document.getElementById('reg-email').value = document.getElementById('email').value;
        document.getElementById('reg-password').value = document.getElementById('password').value;
        document.getElementById('registration-form').style['display'] = 'grid';
    }
</script>
</body>
</html>