body {
  background-color: #f8f9fa;
}

.container {
  max-width: 400px;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.login-table {
  /*margin: 25px;*/
  width: 100%;
}

.center {
  display: grid;
  margin: 100px auto;
  width: 50%;
  line-height: 29px;
  justify-content: center;
}